html
{
  scroll-behavior: smooth;
}

#ima
{
    height: 700px;
    background-image: url(./89781.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
h1
{
    padding-bottom: 30px;
}
section 
{
    padding: 2rem;
    text-align: center;
}
nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: gold;
    color: black;
    border: black solid 2px;
}
nav p
{
  font-size: 1.25rem;
}
a
{
    text-decoration: none;
    text-emphasis: none;
    color: black;
}
a:hover
{
    color: blue;
}
#ima h1
{
    text-align: center;
    color: #ffffff;
    font-size: 4em;
    font-weight: 700;
}
#ima h2
{
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    padding-left: 270px;
    padding-bottom: 30px;
}
body 
{
  margin: 0px;
}

#k
{
    background-color:black;
    padding: 0%;
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 80px;
}
#k h2
{
  background-color: black;
}
.pa p
{
  font-size: 1.75rem;
}
.k1
{
  display: flex;
  flex-direction: row;
}
.k1 img
{
  padding-right: 80px;
  margin-left: 30px;
}
.ra
{
  display: flex;
  flex-direction: row;
}
.ra img
{
  height: 20rem;
  width: 30rem;
  padding-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
}
.ra p
{
  font-size: 2.0rem;
  margin-left: 30px;
}
p
{
  font-size: 1.5rem;
}
#u2
{
  display : flex;
  justify-content: space-evenly;
  font-size: 2.5rem;
  padding-top: 30px;
}
h2
{
  text-align: center;
  font-size: 2.25rem;
  font-family: ALgerian;
}
h3
{
  font-size: 2.0rem;
}
#projects 
{
    background-color: lightcoral;
    color: ghostwhite;
}
  
  #projects h2 
  {
    color: gold;
    font-family: Algerian;
  }
  
  .projects-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .project 
  {
    background-color: black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    width: calc(50% - 2rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .project h3 
  {
    color: gold;
  }
  
  #achievements {
    background-color: #ffa07a;
  }
  
  #achievements h2 {
    color: blue;
    font-family: Algerian;
  }
  
#achievements ul 
{
    list-style: none;
    padding: 0;
}
#achievements li 
{
    margin: 1rem 0;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}
#contact
{
    background-color:greenyellow;
    padding-bottom: 30px;
}
input[type=text], select, textarea 
{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] 
{
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover 
{
  background-color: #45a049;
}

.container
{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.container label
{
    font-size: 1.5rem;

}
footer 
{
    text-align: center;
    background-color: aqua;
    color: black;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer img
{
    width: 30px;
    height: 30px;
}